<div>Appointments: <% @patient.appointments.each do |appt| %></div>
    <p><%= link_to appt.doctor.name, doctor_path(appt.doctor) %></p>
    <p><%= appt.appointment_datetime.strftime("%B %d, %Y at %k:%M") %></p>
<% end %>